*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'sans-serif';
}
@font-face {
  font-family: 'sans-serif';
  src: url('OpenSans.ttf') format('truetype');
}
@font-face {
  font-family: 'xtradex';
  src: url('Xtradex.otf') format('truetype');
}
html{
  scroll-behavior: smooth;
  font-family: 'sans-serif';
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  background-image: linear-gradient(to bottom,
  rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), 
  url("FONDO\ WEBSITE.png");
  background-size: cover;
}
a{
  text-decoration: none;
  color: white;
}
.hamburger{
  display: none !important;
}
header{
  z-index: 3;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 10px;
}
.navbar {
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
height: 60px;
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

.navbar-menu {
display: flex;
list-style: none;
justify-content: space-between;
align-items: center;
width: 100%;
height: 100%;
max-width: 550px;
}
.jeas{
  width: 80px;
  height: auto;
}
.navbar-toggle{
display: none;
background: none;
border: none;
cursor: pointer;
}
.isotipo{
width: 70px;
height: auto;
padding: 10px;
}

.navbar-toggle i{
font-size: 30px;
color: white;
}
.navbar-item {
margin-right: 20px;
}

.navbar-item:last-child {
margin-right: 0;
}

.navbar-item a {
text-decoration: none;
color: white;
transition: 0.2s ease-in-out all;
}
.navbar-item a:hover{
  color: #A89C75;
}
.list__sm{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.vh{
  width: 100%;
  height: fit-content;
  min-height: 100vh;
}
.firstvh{
  background-image: linear-gradient(to bottom,
  rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
  url("background.jpg");
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  flex-wrap: wrap;
  height: 200px;
  width: 50px;
  /* transform: translateX(-50%);
  width: 240px;
  height: 50px; */
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  background-color: #A89C75;
}
.socialmedia i{
  font-size: 30px;
  padding: 15px;
  transition: ease-in-out all 0.3s;
}
.socialmedia i:hover{
  color: black;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.firstvh h1{
  color: white;
  font-size: 8rem;
  line-height: 6rem;
  padding: 0px 10px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  font-family: 'xtradex';
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.firstvh button{
  border: none;
  border-radius: 25px;
  font-size: 1.8rem;
  width: fit-content;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.firstvh button:hover{
  box-shadow: 0 0 5px #A89C75,
  0 0 25px #A89C75,
  0 0 50px #A89C75,
  0 0 100px #A89C75;
}
.firstvh button a{
  font-family: 'xtradex';
  display: inline-block;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background-color: #A89C75;
  color: white;
  padding: 10px 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: ease-in-out all 0.4s;
  cursor: pointer;
}
.secondvh{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.secondvh article{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  min-height: fit-content;
  max-width: 1200px;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
.secondvh article img{
  width: 100%;
  max-width: 500px;
  height: auto;
}

.secondvh article p{
  max-width: 550px;
  font-size: 1.2rem;
  text-align: justify;
  padding: 20px;
}
.thirdvh{
  width: 100%;
}
.grid-gallery {
  height: 100%;
  min-height: fit-content;
  overflow: hidden;
  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense;
}
.fourvh{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourvh {
  position: relative;
}
.text-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.text-container h2{
  font-size: 12vw;
  max-width: 1400px;
  text-align: center;
  opacity: .2;
  line-height: 14rem;
}
.login-box {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 400px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  height: 480px;
}
.form{
  width: 100%;
}
.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}
.send__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box form button {
  background-color: transparent;
  border: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  cursor: pointer;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: #A89C75;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #A89C75,
              0 0 25px #A89C75,
              0 0 50px #A89C75,
              0 0 100px #A89C75;
}
@media only screen and (max-width: 767px) {
  html{
    font-size: 15px;
  }
  .navbar-toggle{
    display: inline-block;
  }
  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .navbar-toggle {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  }
  
  .navbar-toggle{
  transition: background-color 0.3s ease;
  }
  
  .navbar-menu {
  position: absolute;  
  z-index: 2;  
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  max-width: 100%;
  }
  
  .navbar-menu-open {
  display: flex;
  opacity: 1;
  visibility: visible;
  }
  
  .navbar-item {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  margin-right: 0px;
  transition: opacity 0.3s ease;
  }
  
  .navbar-menu-open .navbar-item {
  opacity: 1;
  }
  
  .navbar-item a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .socialmedia{
    top: none;
    width: 240px;
    height: fit-content;
    bottom: 0;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .about__content{
    height: 75%;
  }
  .jeas{
    display: none;
  }
  .thirdvh{
    overflow: hidden;
    height: 150vh;
  }
  .grid-gallery{
    justify-content: center;
    padding: 10px;
  }
  .grid-gallery__image{
    margin: 0 auto;
  }
  .grid-item-responsive{
    display: none;
  }
}
@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid-gallery__item:nth-child(11n+1) {
  grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
  grid-column: span 3;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
  grid-row: span 3;
}

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  justify-content: center;

  grid-template-rows: masonry;

  margin: 0 auto;
}

.grid-item {
  width: 230px;
  object-fit: cover;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: lightgray;
}

.grid-item:hover {
  filter: opacity(0.9);
}
.image-container {
  text-align: center;
}

